doctype html 
html
    head 
        title Musical Nights
        block scripts 
        block style
    body 
        nav#navbar 
            ul
                div#logo
                    img(src="https://img.favpng.com/14/12/15/online-shopping-online-and-offline-fr-hst-ckstisch-png-favpng-C1yPZXsDTBhexnb0jCGFrFYZc.jpg", alt="Musical Nights")
                li #[a(href="/") Home]
                li #[a(href="/") Timings]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/contact") Contact Us]
        block content 
        footer#footer 
            | Copyrights© 3MusicalNights.com 